<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-heading" jhiTranslate="coffeshopApp.order.home.createOrEditLabel">Create or edit a Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coffeshopApp.order.commandId" for="field_commandId">Command Id</label>
                    <input type="text" class="form-control" name="commandId" id="field_commandId"
                           formControlName="commandId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coffeshopApp.order.paymentMethod" for="field_paymentMethod">Payment Method</label>
                    <input type="checkbox" class="form-control" name="paymentMethod" id="field_paymentMethod"
                           formControlName="paymentMethod"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coffeshopApp.order.aboutUs" for="field_aboutUs">About Us</label>
                    <input type="text" class="form-control" name="aboutUs" id="field_aboutUs"
                           formControlName="aboutUs"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coffeshopApp.order.recommandation" for="field_recommandation">Recommandation</label>
                    <input type="text" class="form-control" name="recommandation" id="field_recommandation"
                           formControlName="recommandation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coffeshopApp.order.socialMedia" for="field_socialMedia">Social Media</label>
                    <input type="text" class="form-control" name="socialMedia" id="field_socialMedia"
                           formControlName="socialMedia"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coffeshopApp.order.orderDate" for="field_orderDate">Order Date</label>
                    <div class="d-flex">
                        <input id="field_orderDate" type="datetime-local" class="form-control" name="orderDate" formControlName="orderDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coffeshopApp.order.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="client">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('client').value?.id ? editForm.get('client').value : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
