<div>
    <h2 id="page-heading">
        <span jhiTranslate="coffeshopApp.order.home.title">Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order" [routerLink]="['/order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="coffeshopApp.order.home.createLabel">
            Create new Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="orders?.length === 0">
        <span jhiTranslate="coffeshopApp.order.home.notFound">No orders found</span>
    </div>
    <div class="table-responsive" *ngIf="orders?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="coffeshopApp.order.commandId">Command Id</span></th>
            <th><span jhiTranslate="coffeshopApp.order.paymentMethod">Payment Method</span></th>
            <th><span jhiTranslate="coffeshopApp.order.aboutUs">About Us</span></th>
            <th><span jhiTranslate="coffeshopApp.order.recommandation">Recommandation</span></th>
            <th><span jhiTranslate="coffeshopApp.order.socialMedia">Social Media</span></th>
            <th><span jhiTranslate="coffeshopApp.order.orderDate">Order Date</span></th>
            <th><span jhiTranslate="coffeshopApp.order.client">Client</span></th>
            <th><span>Status</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders ;trackBy: trackId">
                <td><a [routerLink]="['/order', order.id, 'view' ]">{{order.id}}</a></td>
                <td>{{order.commandId}}</td>
                <td>{{order.paymentMethod}}</td>
                <td>{{order.aboutUs}}</td>
                <td>{{order.recommandation}}</td>
                <td>{{order.socialMedia}}</td>
                <td>{{order.orderDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="order.client">
                        <a [routerLink]="['../client', order.client?.id, 'view' ]" >{{order.client?.firstName+ ' ' + order.client?.phoneNumber}}</a>
                    </div>
                </td>
                <td>{{order.status}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/order', order.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order', order.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'order', { outlets: { popup: order.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
