<head>
    <style>
        .container {
            display: flex;
            flex-flow: row nowrap; /* Align on the same line */
            justify-content: space-between; /* Equal margin between the child elements */
        }
        .container > div {
            /*background: #5F85DB;*/
            padding: 5px;
            color: #fff;
            font-weight: bold;
            font-family: Tahoma;
        }
    </style>
</head>

<!--<div class="footer">-->
<!--    <p jhiTranslate="footer">This is your footer</p>-->
<!--</div>-->
<!--<nav class="navbar  navbar-light bg-faded">-->
<!--    <a class="navbar-brand" href="#">Sticky top</a>-->
<!--</nav>-->
<footer style=" position: fixed; left: 0; bottom: 0; width: 100%;"  class="navbar navbar-dark navbar-expand-md bg-dark">
    <div class="container">
        <div class="left">cafeaespresso@cafea.com</div>
        <div class="center"></div>
        <div class="right">
            <a href="http://www.instagram.com" target="blank" rel="noopener"><i class="fa fa-instagram" style="font-size:48px;color:red"></i></a>
            <a href="http://www.twitter.com" target="blank" rel="noopener"><i class="fa fa-twitter" style="font-size:48px;color:red"></i></a>
            <a href="http://www.facebook.com" target="blank" rel="noopener"><i class="fa fa-facebook" style="font-size:48px;color:red"></i></a>
            <a href="http://www.tumblr.com" target="blank" rel="noopener"><i class="fa fa-tumblr" style="font-size:48px;color:red"></i></a>
        </div>
    </div>

</footer>

