<div>
    <h2 id="page-heading">
        <span jhiTranslate="coffeshopApp.coffeAmount.home.title">Coffe Amounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-coffe-amount" [routerLink]="['/coffe-amount/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="coffeshopApp.coffeAmount.home.createLabel">
            Create new Coffe Amount
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="coffeAmounts?.length === 0">
        <span jhiTranslate="coffeshopApp.coffeAmount.home.notFound">No coffeAmounts found</span>
    </div>
    <div class="table-responsive" *ngIf="coffeAmounts?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="coffeshopApp.coffeAmount.availableAmount">Available Amount</span></th>
            <th><span jhiTranslate="coffeshopApp.coffeAmount.sokdAmount">Sokd Amount</span></th>
            <th><span jhiTranslate="coffeshopApp.coffeAmount.coffe">Coffe</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let coffeAmount of coffeAmounts ;trackBy: trackId">
                <td><a [routerLink]="['/coffe-amount', coffeAmount.id, 'view' ]">{{coffeAmount.id}}</a></td>
                <td>{{coffeAmount.availableAmount}}</td>
                <td>{{coffeAmount.sokdAmount}}</td>
                <td>
                    <div *ngIf="coffeAmount.coffe">
                        <a [routerLink]="['../coffe', coffeAmount.coffe?.id, 'view' ]" >{{coffeAmount.coffe?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/coffe-amount', coffeAmount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/coffe-amount', coffeAmount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'coffe-amount', { outlets: { popup: coffeAmount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
