<ngb-carousel>
    <ng-template ngbSlide>
        <div>
            <img style="max-height: 50%; width: 100%; object-fit: contain" src="/content/images/coffee-types.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3></h3>
            <p></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div>
            <img style="max-height: 50%; width: 100%; object-fit: contain" src="/content/images/coffee-cover-1.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
            <h3></h3>
            <p></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div>
            <img style="max-height: 50%; width: 100%; object-fit: contain" src="/content/images/coffee-cover-2.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
            <h3></h3>
            <p></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div>
            <img style="max-height: 50%; width: 100%; object-fit: contain" src="/content/images/coffee-cover-3.jpg" alt="Random forth slide">
        </div>
        <div class="carousel-caption">
            <h3></h3>
            <p></p>
        </div>
    </ng-template>
</ngb-carousel>
