<div>
    <h2 id="page-heading">
        <span jhiTranslate="coffeshopApp.orderedCoffe.home.title">Ordered Coffes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ordered-coffe" [routerLink]="['/ordered-coffe/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="coffeshopApp.orderedCoffe.home.createLabel">
            Create new Ordered Coffe
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="orderedCoffes?.length === 0">
        <span jhiTranslate="coffeshopApp.orderedCoffe.home.notFound">No orderedCoffes found</span>
    </div>
    <div class="table-responsive" *ngIf="orderedCoffes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="coffeshopApp.orderedCoffe.coffe">Coffe</span></th>
            <th><span jhiTranslate="coffeshopApp.orderedCoffe.client">Client</span></th>
            <th><span jhiTranslate="coffeshopApp.orderedCoffe.orderId">Order Id</span></th>
            <th><span jhiTranslate="coffeshopApp.orderedCoffe.amount">Amount</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderedCoffe of orderedCoffes ;trackBy: trackId">
                <td><a [routerLink]="['/ordered-coffe', orderedCoffe.id, 'view' ]">{{orderedCoffe.id}}</a></td>
                <td>{{orderedCoffe.coffe}}</td>
                <td>{{orderedCoffe.client}}</td>
                <td>{{orderedCoffe.orderId}}</td>
                <td>{{orderedCoffe.amount}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ordered-coffe', orderedCoffe.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ordered-coffe', orderedCoffe.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ordered-coffe', { outlets: { popup: orderedCoffe.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
